
    <!-- Navbar content -->

    <nav class="navbar navbar-dark bg-primary">
        <h3 style="color: beige;">Hi,{{request.user}}</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'consolidate'  %}">Consolidation page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url  "logout" %}">Logout</a>
            </li>
          </ul>      
        </div>
      </nav>
